@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter), "Inter", "Roboto", "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
}

body {
  background-color: #f9fafb; /* gray-50 */
  color: #111827; /* gray-900 */
}

